body{
	font-family: 'Lato', sans-serif; 
}

a, .azul{
	color: #009FFF;
}

img{
	max-width: 100%;
}

.quitar-float{
	float: none;
}

.espaciado-arriba{
	margin-top: 50px;
}

.pacifico{
	font-family: 'Pacifico', cursive; 
}

.grande{
	font-size: 4em;
}

.verde{
	color: #00887C;
}

.espacio-derecha{
	margin-right: 1em;
}

.alinear-arriba{
	vertical-align: top;
}

.no-lista{
	margin: 0px;
	padding: 0px;
}

.no-lista li{
	list-style-type: none;
}

.back-gris{
	background-color: #eee;
}

.padding-largo{
	padding: 5px 10px;
}

.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}